# Dependencias
node_modules/

# Variables de entorno (NUNCA se suben a GitHub)
.env
.env.local
.env.production.local
.env.development.local

# Archivos de sistema
.DS_Store
Thumbs.db
*.log

# Editor
.vscode/
.idea/

# Firebase
.firebase/

# Vercel (carpeta de caché)
.vercel/
